# XCode noise
PLBlocks.framework/*
*.pbxuser
*.mode1v3
*.pyc 
*~.nib/ 
*.perspective 
*.perspectivev3
xcuserdata/
build/

# old school
.svn

# osx noise
.DS_store
.DS_Store

# Original .cvsignore from xcftools
Makefile
autom4te.cache
config.log
config.status
config.guess
config.sub
aclocal.m4
xcfinfo
xcf2pnm
xcf2png
xcfview
*.o