# Original .cvsignore from xcftools
Makefile
autom4te.cache
config.hin
config.log
config.status
config.guess
config.sub
aclocal.m4
enums.[ch]
xcfinfo
xcf2pnm
xcf2png
xcfview
xcf**.1i
xcf*.1il
*.1
xcf*.oi
options.mi